<section class='Top-Page'>
  <%= image_tag 'https://due0xnee3ffkt.cloudfront.net/Images/木にもたれかかる女子.webp', class: 'Top-Page__Background' %>

  <div class='Description'>
    <p class='Description__Text'>
      <span class='Description__Text--Stylist'>スタイリスト</span><span class='Description__Text--Reality'>をもっと身近な存在に…</span><br />
      <span class='Description__Text--Family'>まるでかかりつけ医に診てもらうような存在にしたい。</span>
    </p>
    <p class='Description__Text'>
      <span class='Description__Text--AI'>AI には劣らない</span> <span class='Description__Text--Stylist'>"販売員"</span> が見つかるアプリ！<br />
      まずは、GU のおしゃリスタからスモールスタート !!!
    </p>

    <%= link_to staff_searches_path, class: 'Description--Button btn btn-outline-primary' do %>
      <i class='fas fa-search'></i>検索スタート
    <% end %>
  </div>
</section>
